.basketButton {
    position: absolute;
    top: 160px;
    left: 75%;
    transform: translate(-50%, -50%);
    border-color: transparent;
    background-color: transparent;
    -webkit-app-region: no-drag;
}

.basketIcon {
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.basketIcon:hover {
    transform: scale(1.5)
}