.igdb-logo {
    background-color: transparent;
    border: solid 1px transparent;
    height: 4.5rem;
    cursor: pointer;
    -webkit-app-region: no-drag;
    transition: ease-in-out 0.3s;
    padding: auto;
}

.igdb-logo:hover {
    transform: scale(1.1);
}