.Minimise {
    position: absolute;
    z-index: 1;
    display: inline-block;
    right: 79px;
    top: 0;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 0.3em 0.9em;
    background-color: transparent;
    font-weight: 500;
    font-size: 0.95em;
    cursor: pointer;
    transition: border-color 0.25s;
    pointer-events: auto;
    -webkit-app-region: no-drag;
}

.Minimise:hover {
    background-color: rgb(48, 48, 48);
    z-index: 2;
}

