body {
    margin: 0;
    padding-top: 60px;
}

nav {
    background-color: #242424;
    padding: 10px;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 0;
    pointer-events: auto;
    -webkit-app-region: drag;
}

.NavLink {
    position: relative;
    border: 1px solid transparent;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    padding: 15px;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    display: inline-block;
    transition: transform 0.3s ease-in;
    z-index: 100;
    -webkit-app-region: no-drag;
}

.NavLink:hover {
    color: #fff;
    border-color: #7F00FF;
    transform: scale(1.5);
    z-index: 100;
}

