.mainContainer {
    top: 200px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productContainer {
        margin-top: 80px;
        position: relative;
}

.productDetails {
    position: absolute;
    height: 100vh;
    top: 60px;
    right: -180px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.productDetails p {
    font-size: 0.800em;
    color: #fff;
    margin: 0;
    max-width: 150px;
    padding-bottom: 5px;
}

.productDetails h4 {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.productTitle {
    width: 750px;
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    padding-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.productSummary {
    width: 750px;
    border: 3px solid;
    border-image: linear-gradient(to right, white, #7F00FF);
    border-image-slice: 1;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
}

.productSummary p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.productBasket {
    display: flex;
    align-items: center;
}

.productPrice {
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 68%;
}

.addToBasket {
    font-size: large;
    border: transparent;
    background-color: transparent;
}

.productNotOwned {
    background-color: #7F00FF;
    border: transparent;
    padding: 20px;
    border-radius: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.productOwned {
    background-color: #545354;
    border: transparent;
    padding: 20px;
    border-radius: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    opacity: 0.5;
    pointer-events: none;
    color: white;
}

.productInBasket {
    background-color: #545354;
    border: transparent;
    padding: 20px;
    margin-left: 45px;
    border-radius: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    opacity: 0.5;
    pointer-events: none;
    color: white;
}

.productNotReleased {
    background-color: #545354;
    border: transparent;
    padding: 20px;
    border-radius: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    opacity: 0.5;
    pointer-events: none;
    color: white;
}

.currentEnlargedMedia {
        width: 750px;
        height: 422px;
        border-width: 5px;
        border-style: solid;
        border-image: linear-gradient(to right, white, #7F00FF);
        border-image-slice: 1;
        margin-bottom: 25px;
        padding: 0;
}

.currentEnlargedMedia img {
    width: 750px;
    height: 422px;
}

.imageButtons {
    display: flex;
}

.imageButtons button {
    margin-right: 10px;
    padding: 0;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    transition: transform 0.3s ease-in;
}

.imageButtons button:last-child {
    margin-right: 0;
}

.imageButtons button img {
    width: 182px;
    height: 102px;
}

.imageButtons button:hover {
    transform: scale(1.3)
}

.productNotOwned:hover {
    transform: scale(1.3)
}