.searchContainer {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%);
}

.searchResultsDiv {
    width: 1000px;
    display: inline-block;
    z-index: -1;
}

.customh3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}

.customh4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}

.gameTitle {
    position: absolute;
    left: 250px;
    display: inline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    padding: 2%
}

.gameReleaseDate {
    position: relative;
    display: inline-flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 165px;
    right: 160px;
}

.gameImage {
    position: absolute;
    padding: 20px;
    left: 75px;
    display: inline-block;
    height: 250px;
    width: 188px;
    border-radius: 30px;
    box-sizing: border-box;
}

.backgroundImage {
    position: absolute;
    padding: 20px;
    left: 75px;
    display: inline-block;
    height: 250px;
    width: 188px;
    border-radius: 30px;
    box-sizing: border-box;
    filter: blur(0px);
    transition: filter 0.3s ease;
}

ul {
    list-style: none;
    padding: none;
}

ul li {
    position: flex;
    min-height: 250px;
    justify-content: flex-start;
    border-bottom: 3px solid #6F2DA8;
    padding: 10px;
    cursor: pointer;
}

ul li:hover {
    background-color: rgba(111, 45, 168, 0.2);
}

ul li:hover .backgroundImage {
    filter: blur(16px)
}

ul li:hover .gameTitle {
   text-decoration: underline;
}