.settingsContainer {
    height: 1000px;
    margin-bottom: 50px;
}

.topHeader {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    text-decoration: underline;
}

.signOut {
    position: absolute;
    top: 250px;
    width: 600px;
    height: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: 2px;
    border-style: solid;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-image: linear-gradient(to right, white, #7F00FF);
    border-image-slice: 1;
    z-index: -1;
}

.refundProduct {
    position: absolute;
    top: 445px;
    width: 600px;
    height: 220px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: 2px;
    border-style: solid;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-image: linear-gradient(to right, white, #7F00FF);
    border-image-slice: 1;
    z-index: -1;
}

.deleteAccount {
    position: absolute;
    top: 650px;
    width: 600px;
    height: 175px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: 2px;
    border-style: solid;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-image: linear-gradient(to right, white, #7F00FF);
    border-image-slice: 1;
    z-index: -1;
}

.appCredits {
    position: absolute;
    top: 880px;
    width: 600px;
    height: 260px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: 2px;
    border-style: solid;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-image: linear-gradient(to right, white, #7F00FF);
    border-image-slice: 1;
    z-index: -1;
    line-height: 0.5;
}

.creditsContent {
    align-items: center;
    display: flex;
}

.creditsText {
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10px;
    text-align: left;
}

.settingsHeader {
    text-align: left;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.settingsText {
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10px;
    text-align: left;
}

.settingsButton {
    position: relative;
    top: -50px;
    left: 240px;
    background-color: #7F00FF;
    border: transparent;
    padding: 15px;
    border-radius: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.refundProductText {
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10px;
    text-align: left;
}

.refundProductButton {
    position: relative;
    top: 40px;
    left: 220px;
    background-color: #7F00FF;
    border: transparent;
    padding: 15px;
    border-radius: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.deleteAccountText {
    text-align: left;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10px;
    text-align: left;
}

.deleteAccountButton {
    position: relative;
    top: -40px;
    left: 220px;
    background-color: red;
    border: transparent;
    padding: 15px;
    border-radius: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.refundProductDropdown {
    position: absolute;
    border-color: transparent;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(to right, white, #7F00FF);
    border-image-slice: 1;
    z-index: 999;
    cursor: pointer;
    text-align: left;
    left: 10px;
}

.settingsButton:hover {
    transform: scale(1.2);
}

.refundProductButton:hover {
    transform: scale(1.2);
}

.deleteAccountButton:hover {
    transform: scale(1.2);
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: #7F00FF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    text-align: center;
}

.modalText {
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.modalButton {
    position: relative;
    background-color: #7F00FF;
    border: transparent;
    padding: 15px;
    margin-right: 10px;
    border-radius: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.refundModalButton {
    position: relative;
    background-color: #7F00FF;
    border: transparent;
    padding: 15px 30px;
    margin-right: 10px;
    border-radius: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.refundModalButton:hover {
    transform: scale(1.5);
}

.modalButton:hover {
    transform: scale(1.5);
}

.icons8-logo {
    background-color: transparent;
    border-color: transparent;
    height: 2rem;
    cursor: pointer;
    -webkit-app-region: no-drag;
    transition: ease-in 0.25s;
    padding: auto;
}

.icons8-logo:hover {
    transform: scale(1.04)
}

.flatIcon-logo {
    background-color: transparent;
    border-color: transparent;
    height: 1.5rem;
    cursor: pointer;
    -webkit-app-region: no-drag;
    transition: ease-in 0.25s;
    padding: auto;
}

.flatIcon-logo:hover {
    transform: scale(1.04)
}