.verticalNav {
    position: absolute;
    height: 100vh;
    top: 25%;
    left: 10%;
    background-color: transparent;
    pointer-events: auto;
    -webkit-app-region: no-drag;
    transform: translate(-50%);
    z-index: -1;
}

.verticalNav_li {
    font-size: 0.800em;
    color: #fff
}

.verticalNav_li:hover {
    color: #7F00FF
}

h4 {
    color: #7F00FF	
}
  